body {
  padding: 25px;
  font-size: 30px;
  background-color: lightgreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  margin-top: 200px;
}
.glyphicon-search {
  font-size: 20px;
  padding: 15px;
}
.btn-default {
  background: #b19cd9;
  padding: 12.5px;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  height: 75px;
  text-align: center;
  padding: 15px;
}
.form-control {
  padding: 25px;
  font-size: 20px;
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  color: #b19cd9;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  border-bottom: 1px solid rgb(12, 17, 5);
}

.headers {
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #b19cd9;
  padding: 15px;
}

.image {
  max-width: auto;
  height: 75px;
  object-fit: cover;
  float: right;
}

.name {
  width: auto;
}
